.admin-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:var(--glass);
  backdrop-filter:blur(14px);
  padding:20px;
  border-radius:18px;
  margin-bottom:15px;
  box-shadow:0 15px 35px rgba(0,0,0,0.12);
}

.admin-card img{
  height:60px;
  width:60px;
  border-radius:12px;
}

.admin-card button{
  padding:8px 14px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}

.admin-card button:first-child{
  background:#6366f1;
  color:white;
}

.admin-card button:last-child{
  background:#ef4444;
  color:white;
}
