/* ===== FULL PAGE BACKGROUND ===== */
.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#4f46e5,#9333ea);
  position:relative;
  overflow:hidden;
}

/* animated background glow */
.login-container::before{
  content:"";
  position:absolute;
  width:400px;
  height:400px;
  background:rgba(255,255,255,0.15);
  border-radius:50%;
  top:-100px;
  left:-100px;
  filter:blur(100px);
}

.login-container::after{
  content:"";
  position:absolute;
  width:400px;
  height:400px;
  background:rgba(255,255,255,0.1);
  border-radius:50%;
  bottom:-100px;
  right:-100px;
  filter:blur(100px);
}

/* ===== LOGIN CARD ===== */
.login-box{
  position:relative;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(20px);
  padding:45px 35px;
  border-radius:20px;
  width:350px;
  text-align:center;
  box-shadow:0 20px 50px rgba(0,0,0,0.3);
  border:1px solid rgba(255,255,255,0.3);
  color:white;
  animation:fadeIn 0.6s ease;
}

/* ===== LOGO ===== */
.logo{
  font-size:34px;
  margin-bottom:25px;
  font-weight:700;
  letter-spacing:1px;
}

/* ===== INPUT FIELDS ===== */
.input{
  width:100%;
  padding:14px;
  margin:12px 0;
  border-radius:12px;
  border:none;
  font-size:15px;
  outline:none;
  background:rgba(255,255,255,0.2);
  color:#000 ;
  transition:0.3s;
}

.input::placeholder{
  color:#0e0f0f;
}

.input:focus{
  background:rgba(255,255,255,0.3);
  box-shadow:0 0 8px rgba(255,255,255,0.5);
}

/* ===== BUTTON ===== */
.btn{
  width:100%;
  padding:14px;
  margin-top:18px;
  border:none;
  border-radius:14px;
  background:linear-gradient(135deg,#ffffff,#e0e7ff);
  color:#4f46e5;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* ===== REGISTER TEXT ===== */
.register{
  margin-top:20px;
  font-size:14px;
  color:#f1f5f9;
}

.register span{
  font-weight:600;
  cursor:pointer;
  color:#ffffff;
}

.register span:hover{
  text-decoration:underline;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* ===== MOBILE ===== */
@media(max-width:500px){
  .login-box{
    width:90%;
    padding:35px 25px;
  }
}
